<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>List</title>
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>


<div class="container mt-5">

    <!-- перебираємо кожній єлемент note з масиву -->
    <div th:each="el : ${noteList}" class="alert alert-info mt-2"> <!-- mt-2 отступ-->
        <h3 th:text="${el.title}"/>
        <p th:text="${el.content}"/>
        <a th:href="'/note/edit/' + ${el.id}" class="btn btn-warning">Edit</a> <br><br><!-- силка/кнопка на блог + елемент id для кожної запісі своя силка-->
        <!--додаємо форму для видалення, для кнопки -->
        <form th:action="'/delete/'+${el.id}" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
        <!--  <a th:href="'/note/' + ${el.id}+'/delete'" class="btn btn-warning">Delete</a> силка/кнопка на видалення -->
    </div>
</div>

<!-- <header th:insert="~{blocks/main :: main}">

</header> -->

<div th:insert="~{blocks/footer :: footer}">

</div>
       </body>
       </html>